.login {
    background-image: url('../../src/assests/login-background.jpg') !important;
    background-repeat: none !important;
    background-size: cover !important;
}

.login p {
    font-size: 11px !important;
}

label {
    font-size: 16px;
}

.input-error {
    border: 2px solid red;
}

.message-error {
    color: red !important;
    font-size: 11.2px "Open Sans Regular";
}

input:focus {
    border: 1px solid #205cab;
    outline: none;
    padding-left: 8px;
}

input {
    border: 1px solid rgb(134, 134, 134);
    outline: none;
    border-radius: 3px !important;
    padding: 5.25px 10.5px;
}

.login button {
    border: 1px solid #205cab;
    outline: none;
    background-color: #205cab;
    color: white;
    border-radius: 3px !important;
    padding: 5.25px 10.5px;

}

.login a {
    font-size: 12px;
    font-weight: 600;
}

.formRow {
    border: 0.5px solid rgb(211, 211, 211);
    padding: 42px;
}


/* .login h1 {
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

.sBook{
    font-family: "Viga", sans-serif;
    font-weight: lighter !important;
    font-style: normal;
    letter-spacing: 5px;
}
@media screen and (max-width:768px) {
    .formRow {
        border: 0.5px solid rgb(211, 211, 211);
        padding: 20px;
    }
}
/* @media screen and (min-width:1450px) {
    .loginCol{
        width: 25% !important;
    }
} */

.custom-spinner {
    width: 15px !important;
    height: 15px !important;
    border-width: 0.2rem !important;
}

.custom-spinner .spinner-border {
    border-color: white transparent transparent transparent;
}

.logoImg{
    max-width: 50%;
    max-height: 100%;
    align-self: center;
}

.loginCol{
    background-color: #f5f7ff;
}