

ul li{
    list-style: none !important;
    text-decoration: none !important;
    padding: 10px !important;
}

.active a{
    background-color: #005eab !important;
}
.prev{
    background-color: white !important;
}
