
.userTable th{
    background-color: #f7f9fa;
}

.iconBtn{
    border: none;
    outline: none;
    background-color: #f7f9fa;
}

.bi{
    font-weight: 800;
}

.activeRow{
    background-color: #e6e6fa !important;
}

.nonActiveRow{
    background-color: #f0f8ff !important;
}

.loadColumn{
    background-color: rgb(223, 223, 223) !important;
    /* padding: 40px !important; */
    border-radius: 5px !important;
}

.loadColumnBelow{
    background-color: rgb(223, 223, 223) !important;
    padding: 130px 50px !important;
    border-radius: 5px !important;
}

.tableBtn{
    background-color: #005eab !important;
    border: 1px solid #005eab !important;
    outline: none !important;
    border-radius: 3px;
    padding: 2.5px 12px !important;
}

td{
    font-size: 14px !important;
}